

@font-face {
    font-family: poppins;
    src: url(Poppins/Poppins-Light.ttf)
}
@font-face {
    font-family: itim;
    src: url(Itim-Regular.ttf);
}


#products {
    text-align: center;
    font-size: 130%;
    font-family: poppins;
    padding-top: 1%;
    img {
        height: 180px;
        width: 290px;
        border-radius: 20px;
    }
    h1 {
        font-size: 400%;
        color: rgba(101, 143, 61, 1);
    }
    h3{
        font-size: 150%;
    }
}
.product-grid {
    display: flex;
    justify-content: center;
    gap: 12vh;
    width: 80%;
    margin: auto;
    padding-top: 4%;
    line-height: 2%;
}
#testimonials {
    background-color: #A4C778;
    text-align: center;
    font-family: poppins;
    color: #000;
    margin-top: 5%;
    font-size: 140%;
    h1 {
        font-size: 400%;
        color: rgba(101, 143, 61, 1);
    }
    h2 {
        font-size: 200%;
        margin-top: -2%;
    }
    p {
        font-style: italic;
    }
}
.testimonial-grid {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 2%;
    align-items: first baseline;
    img {
        width: 220px;
        height: 220px;
        border-radius: 50%;
    }
}
.testimonial {
    width: 20%;
}

@media only screen and (max-width: 600px) {

  html,
  body {
      overflow-x: hidden;
  }

  #contact-us-button {
      width: 40%;
      font-size: 90%;
      margin-left: 25%;
  }

  #about {
      flex-direction: column;
      width: 90%;
      font-size: 100%;
      margin: 0 auto;
      box-sizing: border-box;

      h1 {
          font-size: 300%;
          text-align: center;
      }

      img {
          width: 80%;
          height: 80%;
      }
  }

  .about-us {
      font-size: 80%;
  }

  .services {
      flex-wrap: wrap;
      width: 80%;
      margin: auto;
      justify-content: center;

      p {
          font-size: 90%;
      }
  }

  .navigation_bar {
      width: 100%;
      margin: 0;
  }

  .navigation_bar img {
      width: 30%;
      margin: auto;

  }

  .nav-links {
      display: none;

  }

  .home-text {
      margin-top: 15%;
      width: 90%;
      line-height: 1;
      padding-left: 2%;

      h1 {
          font-size: 250%;
      }
  }

  #home {
      height: 40%;
      width: 100%;
      margin-top: -1%;
  }

  #get_btn {
      font-size: medium;
      padding: 10px 12px;
  }

  .discount {
      font-size: 90%;

      img {
          width: 70%;
          height: 70%;
      }
  }

  .items {
      flex-direction: column;
      width: 90%;
      margin: auto;
  }

  .item {
      padding-top: 10%;
  }

  .item .price {
      top: 3%;
      left: 5%;
      background: rgba(255, 255, 255, 0.8);
      padding: 8px 8px;
  }

  .product-categories {
      flex-direction: column;
      font-size: 100%;
      margin: auto;

      h2 {
          font-size: 170%;
      }
  }

  .product-categories img {
      width: 300px;
      height: 200px;
  }

  .product-categories .item span {
      width: 20%;
      margin-top: 2%;
  }

  .fresh-grocery {
      width: 90%;

      button {
          width: 40%;
          padding: 2% 0%;
      }
  }

  #products {
      width: 100%;
      font-size: 120%;

      h1 {
          font-size: 250%;
          text-align: center;
      }

      img {
          width: 190px;
          height: 90px;
      }
  }

  .product {
      padding: 2%;
  }

  .product-grid {
      flex-wrap: wrap;
      width: 90%;

  }

  #testimonials {
      padding: 1rem;

      h1 {
          font-size: 2rem;
      }

      h2 {
          font-size: 1.5rem;
      }
  }

  .testimonial-grid {
      flex-direction: column;
      gap: 2rem;
      width: 90%;
  }

  .testimonial {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;

      img {
          width: 100px;
          height: 100px;
          margin-bottom: 1rem;
      }

      p {
          font-size: 1.1rem;
          padding: 0 1rem;
      }

      h3 {
          font-size: 1.2rem;
      }
  }

  #get-app {
      flex-direction: column;
      justify-content: center;
      font-size: 100%;
      text-align: center;

      img {
          width: 90%;
          height: 90%;
          margin-top: 5%;
      }

      width:100%;

      h1 {
          font-size: 250%;
      }

      button {
          padding: 0% 2%;
          font-size: small;
          margin-left: 25%;
      }
  }

  #contact {
      margin-top: -50%;
      width: 100%;
      font-size: 100%;

      input {
          padding: 2%;
          width: 90%;
      }

      textarea {
          padding: 13% 23%;
          margin-top: 8%;
      }

      h1 {
          font-size: 250%;
      }

      h2 {
          font-size: 150%;
          text-align: center;
      }
  }

  .contact-us {
      flex-direction: column;
      width: 90%;
  }

  .contact-info {
      padding: 3% 3% 3% 7%;

      span {
          padding-left: 10%;
      }
  }

  #send-now {
      padding: 2% 5%;
      border-radius: 15px;
      margin-top: 6%;
      font-size: 100%;
      margin-left: 35%;
      margin-bottom: 5%;
  }

  #copyright {
      text-align: center;
      color: white;
      padding: 4% 2% 1%;
      font-size: 80%;
  }

}

@media screen and (min-width: 601px) and (max-width: 999px) {

 html,
  body {
      overflow-x: hidden;
  }

  #contact-us-button {
      width: 35%;
      font-size: 110%;
      margin-left: 35%;
  }

  #about {
      flex-direction: column;
      width: 90%;
     font-size: 1.7rem;
      margin: 0 auto;
      box-sizing: border-box;

      h1 {
          font-size: 280%;
          text-align: center;
      }

      img {
          width: 80%;
          height: 80%;
      }
  }

  .about-us {
      font-size: 100%;
  }

  .services {
      flex-wrap: wrap;
      width: 100%;
      margin: auto;
      justify-content: center;
      p {
          font-size: 1.6rem;
      }
  }
  .navigation_bar {
      width: 100%;
  }
  .navigation-background{
      margin-top: -2%;
  }
  .navigation_bar img {
      width: 23%;
      margin: auto;
  }
  .home-text {
      margin-top: 15%;
      width: 90%;
      line-height: 1;
      padding-left: 2%;

      h1 {
          font-size: 350%;
      }
  }
  #home {
      height: 40%;
      width: 100%;
      margin-top: -1%;
  }
  #get_btn {
      font-size: large;
      padding: 10px 12px;
  }
  .discount {
      font-size: 1.6rem;

      img {
          width: 40%;
          height: 40%;
      }
  }

  .items {
      flex-wrap: wrap;
      width: 95%;
      margin: auto;
  }
  .item {
      padding-top: 10%;
  }

  .item .price {
      top: 9%;
      left: 25%;
      background: rgba(255, 255, 255, 0.8);
      padding: 9px 9px;
  }

  .product-categories {
      flex-wrap: wrap;
      font-size: 1.6rem;
      justify-content: center;
      margin: auto;
      h2 {
          font-size: 200%;
      }
  }
  .product-categories img {
      width: 280px;
      height: 200px;
  }
  .product-categories .item span {
      width: 35%;
      margin-top: 2%;
  }
  .fresh-grocery {
      width: 50%;
      button {
          width: 50%;
          padding: 2% 0%;
      }
  }
  #products {
      width: 100%;
      font-size: 100%;

      h1 {
          font-size: 280%;
          text-align: center;
      }

      img {
          width: 130px;
          height: 100px;
      }
  }
  .product {
      padding: 2%;
  }
  .product-grid {
      flex-wrap: wrap;
      width: 90%;
  }

  #testimonials {
      padding: 1rem;

      h1 {
          font-size: 2rem;
      }

      h2 {
          font-size: 1.5rem;
      }
  }

  .testimonial-grid {
      flex-wrap: wrap;
      width: 100%;
  }

  .testimonial {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;

      img {
          width: 180px;
          height: 180px;
          margin-bottom: 1rem;
      }

      p {
          font-size: 1.6rem;
          padding: 0 1rem;
      }

      h3 {
          font-size: 1.8rem;
      }
  }
  #get-app {
      flex-direction: column;
      justify-content: center;
      font-size: 120%;
      text-align: center;

      img {
          width: 90%;
          height: 90%;
          margin-top: 5%;
      }

      width:100%;

      h1 {
          font-size: 280%;
      }

      button {
          padding: 0% 2%;
          font-size: small;
          margin-left: 25%;
      }
  }
  #contact {
      margin-top: -50%;
      width: 100%;
      font-size: 1.6rem;
      input {
          padding: 2%;
          width: 90%;
      }
      textarea {
          padding: 13% 35%;
          margin-top: 8%;
      }
      h1 {
          font-size: 280%;
      }
      h2 {
          font-size: 180%;
          text-align: center;
      }
  }
  .contact-us {
      flex-direction: column;
      width: 90%;
  }
  .contact-info {
      padding: 3% 3% 3% 7%;

      span {
          padding-left: 10%;
      }
  }
  #send-now {
      padding: 2% 5%;
      border-radius: 15px;
      margin-top: 6%;
      font-size: 120%;
      margin-left: 35%;
      margin-bottom: 5%;
  }
  #copyright {
      text-align: center;
      color: white;
      padding: 4% 2% 1%;
      font-size: 1.2rem;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
html,
  body {
      overflow-x: hidden;
  }

  #contact-us-button {
      width: 35%;
      font-size: 110%;
      margin-left: 35%;
  }

  #about {
      flex-direction: column;
      width: 90%;
     font-size: 1.7rem;
      margin: 0 auto;
      box-sizing: border-box;

      h1 {
          font-size: 280%;
          text-align: center;
      }

      img {
          width: 80%;
          height: 80%;
      }
  }

  .about-us {
      font-size: 100%;
  }

  .services {
      flex-wrap: wrap;
      width: 100%;
      margin: auto;
      justify-content: center;
      p {
          font-size: 1.6rem;
      }
  }
  .navigation_bar {
      width: 100%;
  }
  .navigation-background{
      margin-top: -2%;
  }
  .navigation_bar img {
      width: 23%;
      margin: auto;
  }
  .home-text {
      margin-top: 15%;
      width: 90%;
      line-height: 1;
      padding-left: 2%;

      h1 {
          font-size: 350%;
      }
  }
  #home {
      height: 40%;
      width: 100%;
      margin-top: -1%;
  }
  #get_btn {
      font-size: large;
      padding: 10px 12px;
  }
  .discount {
      font-size: 1.6rem;

      img {
          width: 40%;
          height: 40%;
      }
  }

  .items {
      flex-wrap: wrap;
      width: 95%;
      margin: auto;
  }
  .item {
      padding-top: 10%;
  }

  .item .price {
      top: 9%;
      left: 25%;
      background: rgba(255, 255, 255, 0.8);
      padding: 9px 9px;
  }

  .product-categories {
      flex-wrap: wrap;
      font-size: 1.6rem;
      justify-content: center;
      margin: auto;
      h2 {
          font-size: 200%;
      }
  }
  .product-categories img {
      width: 280px;
      height: 200px;
  }
  .product-categories .item span {
      width: 35%;
      margin-top: 2%;
  }
  .fresh-grocery {
      width: 50%;
      button {
          width: 50%;
          padding: 2% 0%;
      }
  }
  #products {
      width: 100%;
      font-size: 100%;

      h1 {
          font-size: 280%;
          text-align: center;
      }

      img {
          width: 130px;
          height: 100px;
      }
  }
  .product {
      padding: 2%;
  }
  .product-grid {
      flex-wrap: wrap;
      width: 90%;
  }

  #testimonials {
      padding: 1rem;

      h1 {
          font-size: 2rem;
      }

      h2 {
          font-size: 1.5rem;
      }
  }

  .testimonial-grid {
      flex-wrap: wrap;
      width: 100%;
  }

  .testimonial {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;

      img {
          width: 180px;
          height: 180px;
          margin-bottom: 1rem;
      }

      p {
          font-size: 1.6rem;
          padding: 0 1rem;
      }

      h3 {
          font-size: 1.8rem;
      }
  }
  #get-app {
      flex-direction: column;
      justify-content: center;
      font-size: 120%;
      text-align: center;

      img {
          width: 90%;
          height: 90%;
          margin-top: 5%;
      }

      width:100%;

      h1 {
          font-size: 280%;
      }

      button {
          padding: 0% 2%;
          font-size: small;
          margin-left: 25%;
      }
  }
  #contact {
      margin-top: -50%;
      width: 100%;
      font-size: 1.6rem;
      input {
          padding: 2%;
          width: 90%;
      }
      textarea {
          padding: 13% 35%;
          margin-top: 8%;
      }
      h1 {
          font-size: 280%;
      }
      h2 {
          font-size: 180%;
          text-align: center;
      }
  }
  .contact-us {
      flex-direction: column;
      width: 90%;
  }
  .contact-info {
      padding: 3% 3% 3% 7%;

      span {
          padding-left: 10%;
      }
  }
  #send-now {
      padding: 2% 5%;
      border-radius: 15px;
      margin-top: 6%;
      font-size: 120%;
      margin-left: 35%;
      margin-bottom: 5%;
  }
  #copyright {
      text-align: center;
      color: white;
      padding: 4% 2% 1%;
      font-size: 1.2rem;
  }
}

